<div class="col-12" id="employee-pin-screen">

  <div class="row">
    <div class="col-12">

      <p class="lead text-center">
        <strong><%= @ipad_user.full_name %></strong>
        <br />
        Enter new PIN and click &ldquo;Enter&rdquo;:
      </p>

    </div>
  </div>

  <%= form_with model: @ipad_user do |f| %>
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">

        <div class="form-group">
          <%= f.text_field :pin, {value: '', type: 'password', class: 'form-control text-center keypad-input', id: 'employee-change-pin-field' , maxlength: 4, autofocus: true, readonly: true} %>
          <% if params[:error] %>
            <p class="is-invalid">PIN change failed. Please contact IT for help.</p>
          <% end %>
        </div>
        <%= f.hidden_field :ipad_submit, value: true %>

      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">

        <%= render 'keypad' %>

        <div class="row text-center">
          <div class="col-4 offset-4">
            <%= link_to '<i class="fa fa-times"></i> Cancel'.html_safe, employee_action_ipad_index_path(pin: @ipad_user.pin), class: 'btn btn-danger' %>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>