<div class="row">
  <div class="col-12 col-sm-6 offset-sm-3" id="employee-action-screen">

    <p class="lead text-center"><strong><%= @ipad_user.full_name %></strong></p>

    <%= form_with model: @timeclock_record, local: true do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: @ipad_user.id %>
        <%= f.hidden_field :record_type, value: get_record_type(@ipad_user.current_status) %>
        <%= f.hidden_field :record_timestamp, value: DateTime.current %>
        <%= f.hidden_field :submit_type, value: 'pin' %>
        <%= f.hidden_field :ip_address, value: request.remote_ip %>
        <%= f.hidden_field :success_message, value: get_response_message(@ipad_user.current_status, true) %>
        <%= f.hidden_field :failure_message, value: get_response_message(@ipad_user.current_status, false) %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :ipad_submit, value: true %>
        <%= f.hidden_field :submit_location, value: 'ipad' %>
        <%= f.hidden_field :user_pin, value: @ipad_user.pin %>
        <%= button_tag type: 'submit', class: "btn btn-block btn-lg btn-#{get_color(@ipad_user.current_status)}" do %>
          <i class="fa fa-fw fa-<%= get_icon(@ipad_user.current_status) %>"></i> <%= get_record_type(@ipad_user.current_status) %>
        <% end %>
      </div>
    <% end %>
    <% if @ipad_user.current_status == 'in' %>
      <%= form_with model: @timeclock_record, local: true do |f| %>
        <div class="form-group">
          <%= f.hidden_field :user_id, value: @ipad_user.id %>
          <%= f.hidden_field :record_type, value: 'Start Break' %>
          <%= f.hidden_field :record_timestamp, value: DateTime.current %>
          <%= f.hidden_field :submit_type, value: 'pin' %>
          <%= f.hidden_field :ip_address, value: request.remote_ip %>
          <%= f.hidden_field :success_message, value: "Successfully started break at #{current_local_time}." %>
          <%= f.hidden_field :failure_message, value: "Failed to clock out for break. Please contact IT for help." %>
        </div>
        <div class="form-group">
          <%= f.hidden_field :ipad_submit, value: true %>
          <%= f.hidden_field :user_pin, value: @ipad_user.pin %>
          <%= button_tag type: 'submit', class: 'btn btn-block btn-lg btn-warning' do %>
            <i class="fa fa-fw fa-cutlery"></i> Start Break
          <% end %>
        </div>
      <% end %>
    <% end %>

    <hr />

    <div class="form-group">
      <%= link_to '<i class="fa fa-fw fa-clipboard"></i> View Time Card'.html_safe, timeclock_records_path, class: 'btn btn-block btn-lg btn-default' %>
    </div>

    <div class="form-group">
      <%= link_to '<i class="fa fa-fw fa-th"></i> Change Pin'.html_safe, change_pin_ipad_index_path, class: 'btn btn-block btn-lg btn-default' %>
    </div>

    <div class="form-group">
      <%= link_to '<i class="fa fa-fw fa-ban"></i> Log Out'.html_safe, logout_ipad_index_path, class: 'btn btn-block btn-lg btn-default' %>
    </div>

  </div>
</div>