<div class="col-12" id="employee-pin-screen">

  <div class="row">
    <div class="col-12">

      <p class="lead text-center">
        <strong><%= @ipad_user.full_name %></strong>
        <br />
        Please enter your PIN and click &ldquo;Enter&rdquo;:
      </p>

    </div>
  </div>

  <%= form_with url: { controller: :ipad, action: :employee_action}, local: true, method: 'get' do |f| %>
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">

        <div class="form-group">
          <%= f.text_field :pin, {type: 'password', maxlength: 4, class: 'form-control text-center keypad-input', id: 'employee-pin-field', autofocus: true, readonly: true} %>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">

        <%= render 'keypad' %>
        <div class="row text-center">
          <div class="col-3">
            <%= link_to '<i class="fa fa-fw fa-chevron-left"></i> Back'.html_safe, logout_ipad_index_path(suppress_notice: true), class: 'btn btn-default' %>
          </div>
          <div class="col-9">
            <%= link_to '<i class="fa fa-fw fa-clipboard"></i> View Time Card'.html_safe, timeclock_records_path, class: 'btn btn-primary float-right' %>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>