<div class="container-fluid">
  <div class="row">
    <div class="col-12" id="employee-number-screen">

      <div class="row">
        <div class="col-12">

          <p class="lead text-center">
            Select employee from dropdown or enter number and click &ldquo;Enter&rdquo;:
          </p>

        </div>
      </div>

      <%= form_with url: { controller: :ipad, action: :enter_pin}, local: true, method: 'get' do |f| %>
        <div class="row">
          <div class="col-12 col-sm-4 offset-sm-4">

            <div class="form-group">
              <%= select_tag 'employees', options_from_collection_for_select(User.all, :employee_number, :number_and_name), {include_blank: true, class: 'form-control', id: 'employee-number-dropdown'} %>
            </div>
            <div class="form-group">
              <%= f.text_field :employee_number, {maxlength: 3, class: 'form-control text-center keypad-input', id: 'employee-number-field', autofocus: true, readonly: true, required: true} %>
              <% if params[:error] %>
                <p class='is-invalid'>Invalid Employee Number</p>
              <% end %>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-4 offset-sm-4">

            <%= render 'keypad' %>

            <div class="text-center">
              <%= link_to 'Clocked In Right Now', clocked_in_timeclock_records_path, class: 'btn btn-lg btn-primary' %>
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>