<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
          <th class="col-1 text-center">Date</th>
          <th class="col-1 text-center">Time</th>
          <th class="col-2 text-center">Record Type</th>
          <th class="col-3 text-left">Edit Info</th>
          <th class="col-4 text-left">Notes</th>
          <th class="col-1 text-center d-none d-xl-table-cell"></th>
      </tr>
    </thead>
    <tbody class="filtered-table">
      <% @timeclock_records.each do |t| %>
        <tr data-id="<%= t.id %>" class="<%= 'info' if t.is_flagged %>">
          <td class="text-center">
            <%= t.record_timestamp.strftime('%a, %m/%d') %>
            <% if t.record_timestamp != t.updated_at.localtime %>
              <br />
              <small class="text-muted"><%= t.updated_at.localtime.strftime('%a, %m/%d') %></small>
            <% end %>
          </td>
          <td class="text-center">
            <%= t.record_timestamp.strftime('%l:%M %P') %>
            <% if t.record_timestamp != t.updated_at.localtime %>
              <br />
              <small class="text-muted"><%= t.updated_at.localtime.strftime('%l:%M %P') %></small>
            <% end %>
          </td>
          <td class="text-center <%= get_record_class(t.record_type) %>">
            <%= t.record_type %>
          </td>
          <td class="text-left">
            <% if t.edit_type %>
              <small><strong>By:</strong></small> <%= t.user.full_name %>
              <br />
              <small><strong>When:</strong></small> <%= t.updated_at.localtime.strftime('%m/%d/%y %l:%M:%S %P') %>
              <br />
              <small><strong>Reason:</strong></small> <%= t.reason_code.code %>
            <% end %>
          </td>
          <td class="text-left">
            <% if t.edit_type && t.notes %>
              <%= t.notes %>
            <% end %>
          </td>
          <td class="text-center d-none d-xl-table-cell">
            <button class="btn btn-default btn-sm flag-record-button">Flag</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>