<div class="container-fluid">
  <div class="row">
    <div class="col-9 lead">
      Clocked in right now:
      <small class="text-warning">(Yellow highlight means on break)</small>
    </div>
    <div class="col-3 text-right">
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, '#', onclick: "history.back()", class: 'btn btn-sm btn-danger d-xl-none' %>
    </div>

    <% if @clocked_in.size == 0 %>
      <div class="col-12">
        <p>No one is currently clocked in.</p>
      </div>
    <% else %>
      <% employee_groups.each do |g| %>
        <div class="col-12 col-sm-6 col-xl-2">
          <div class="card">
            <div class="card-header bg-light">
              <h5><%= g[:name] %></h5>
            </div>
            <div class="list-group list-group-flush">
              <% @clocked_in.each do |u| %>
                <% if u.employee_number > g[:min] && u.employee_number < g[:max] %>
                  <% g[:count] += 1 %>
                  <div class="list-group-item<%= ' warning' if u.current_status == 'break' %>">
                    <div class="row">
                      <div class="col-7 text-left"><%= u.full_name %></div>
                      <div class="col-5 text-right"><%= u.timeclock_records.last.record_timestamp.localtime.strftime('%l:%M %P') %></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% if g[:count] == 0 %>
                <div class="list-group-item">
                  <small><em style="text-muted">No one is clocked in.</em></small>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>