<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-9">
      <div class="row">
        <div class="col-9 lead">
          <span class="d-xl-none"><%= @employee.full_name %>  &raquo;</span>
          Time Card for week of <%= (Date.today.beginning_of_week - 1).strftime('%m/%d/%y') %> &ndash; <%= (Date.today.end_of_week - 1).strftime('%m/%d/%y') %>:
        </div>
        <div class="col-3 d-xl-none text-right">
          <%= link_to '<i class="fa fa-times"></i>'.html_safe, '#', onclick: "history.back()", class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
      <% if @timeclock_records.size == 0 %>
        <p>No records found for the current period.</p>
      <% else %>
        <%= render 'table' %>
      <% end %>
    </div>
    <div class="d-none d-xl-flex col-xl-3">
      <%= render 'flag_record' if @timeclock_records.size > 0 %>
    </div>
  </div>
</div>