<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <% if @timeclock_records.size == 0 %>
        <p>No editable records found.</p>
      <% else %>
        <%= form_with url: manage_records_timeclock_records_path, method: 'get', class: 'app-form' do |f| %>
          <h3>Filter Options</h3>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= f.label :with_week, 'Week:' %>
                <%= f.select :with_week, TimeclockRecord.options_for_period, { include_blank: true }, { class: 'form-control' } %>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= f.label :with_employee, 'Person:' %>
                <%= f.select :with_employee, User.options_for_employees, { include_blank: true }, { class: 'form-control' } %>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <%= f.label :with_notes, 'Notes:' %>
                <%= f.select :with_notes, TimeclockRecord.options_for_notes, { include_blank: true }, { class: 'form-control' } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <%= link_to 'Reset Filter', manage_records_timeclock_records_path, class: 'btn-link btn-sm' %>
              <%= f.submit 'Filter', class: 'float-right' %>
            </div>
          </div>
        <% end %>
        <div class="manage-records-table">
          <%= render "edit_table" %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-3">
      <% render_action = params[:id] ? "update" : "create" %>
      <%= render 'form', locals: { path: { controller: "timeclock_records", action: render_action } } %>
      <% if @current_user.is_management? && closable_periods_exist? %>
        <%= render 'close_period_form' %>
      <% end %>
    </div>
  </div>
</div>