<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-8">Code</th>
                <th class="col-2 text-center">Requires Notes?</th>
                <th class="col-2 text-center"></th>
            </tr>
            </thead>
            <tbody>
              <% @reason_codes.each do |c| %>
                <tr data-id="<%= c.id %>" data-code="<%= c.code %>" data-notes="<%= c.requires_notes %>">
                  <td class="">
                    <%= c.code %>
                  </td>
                  <td class="text-center">
                    <%= check_box_tag 'Requires Notes?', c.id, c.requires_notes %>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-info btn-sm edit-code-button">Edit</button>
                    <button class="btn btn-danger btn-sm delete-code-button">Delete</button>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        </div>
    </div>
    <%# <div class="col-12 col-sm-12 col-md-4 col-lg-3"><?php $handler->html(); ?></div> %>
  </div>
</div>