<div class="row">
  <div class="col-12">
    <% if @salt_spray_test.is_sample %><label class="text-danger"><strong>SAMPLE TEST</strong></label> - <% end %>
    <label><strong>Shop Order:</strong></label>
    <span><%= @salt_spray_test.shop_order_number %></span>
    <label class="ml-3"><strong>Load:</strong></label>
    <span><%= @salt_spray_test.load_number %></span>
  </div>
</div>
<div class="card bg-light">
  <div class="card-body">
    <%= form_with model: @salt_spray_test do |f| %>

      <% if @salt_spray_test.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@salt_spray_test.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @salt_spray_test.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <%= f.fields_for :comments, @salt_spray_test.comments.build do |c| %>
          <div class="col-md-3">
            <%= f.label nil, 'Comment', class: 'form-control-label' %>
            <div class="form-group">
              <div class="row form-group comment-group">
                <div class="col-9 pr-0">
                  <%= c.text_area :content, rows: 5, class: 'form-control' %>
                </div>
                <div class="col-3 px-0">
                  <div class="btn btn-sm btn-link clear-comment">Clear</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 offset-3">
            <div class="form-group">
              <div class="view-comment-attachments">
                <%= c.label nil, 'Attachments' %><br />
                <div class="salt_spray_attachments">
                  <%= c.fields_for :attachments do |attachment| %>
                    <%= render 'attachment_fields', f: attachment %>
                  <% end %>
                </div>
                <div>
                  <%= link_to_add_association 'Add Attachment', c, :attachments,
                                              :class => 'btn btn-sm btn-success text-right',
                                              :'data-association-insertion-node' => ".salt_spray_attachments",
                                              :'data-association-insertion-method' => 'append',
                                              :partial => 'new_attachment_fields' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <br />
        <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', salt_spray_tests_path, class: 'btn btn-link' %>
      </div>
    <% end %>
  </div>
</div>
