<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <% if @salt_spray_test.is_sample %><label class="text-danger"><strong>SAMPLE TEST</strong></label> - <% end %>
        <label><strong>Shop Order:</strong></label>
        <span><%= @salt_spray_test.shop_order_number %></span>
        <label class="ml-3"><strong>Load:</strong></label>
        <span><%= @salt_spray_test.load_number.present? ? @salt_spray_test.load_number : 'N/A' %></span>
      </div>
      <div class="col-7">
        <% if @salt_spray_test.flagged_by %>
          <i class="fa fa-exclamation-triangle"></i> <span class="text-warning">Flagged:</span>
          <em><%= @salt_spray_test.get_last_comment %></em>
        <% end %>
      </div>
      <div class="col-2 text-right">
        <%= link_to 'Delete Test', salt_spray_test_path(@salt_spray_test), data: { confirm: 'Are you sure?'}, method: 'delete', class: 'btn btn-link text-danger' %>
      </div>
    </div>
  </div>
</div>
<div class="card bg-light">
  <div class="card-body">
    <%= form_with model: @salt_spray_test do |f| %>
      <% if @salt_spray_test.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@salt_spray_test.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @salt_spray_test.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :put_on_at, class: 'form-control-label' %>
            <%= f.datetime_local_field :put_on_at, class: 'form-control', value: format_datetime_local(@salt_spray_test.put_on_at) %>
          </div>
          <div class="form-group">
            <%= f.label :put_on_by, class: 'form-control-label' %>
            <%= f.select :put_on_by, reporters_for_select, {include_blank: true}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :dept, 'Department', class: 'form-control-label' %><br />
            <%= f.select :dept, SaltSprayTest.options_for_plating_department, {include_blank: true}, {class: 'form-control'} %>
          </div>
        </div>
        <div class="col-md-2 offset-md-1">
          <div class="form-group">
            <%= f.label :date_with_white, 'Date marked white', class: 'form-control-label' %>
            <%= f.datetime_local_field :marked_white_at, class: 'form-control marked-white-date', value: format_datetime_local(@salt_spray_test.marked_white_at) %>
          </div>
          <div class="form-group">
            <%= f.label :marked_white_by, 'Marked white by', class: 'form-control-label' %>
            <%= f.select :marked_white_by, reporters_for_select, {include_blank: true}, {class: 'form-control marked-white-reporter'} %>
          </div>
          <div class="form-group">
            <div class="btn btn-sm btn-link clear-white">Clear 'Marked White' Values</div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :date_with_red, 'Date marked red', class: 'form-control-label' %>
            <%= f.datetime_local_field :marked_red_at, class: 'form-control marked-red-date', value: format_datetime_local(@salt_spray_test.marked_red_at) %>
          </div>
          <div class="form-group">
            <%= f.label :marked_red_by, 'Marked red by', class: 'form-control-label' %>
            <%= f.select :marked_red_by, reporters_for_select, {include_blank: true}, {class: 'form-control marked-red-reporter'} %>
          </div>
          <div class="form-group">
            <div class="btn btn-sm btn-link clear-red">Clear 'Marked Red' Values</div>
          </div>
        </div>
        <div class="col-md-2 offset-md-1 border border-right-0 pt-2">
          <div class="form-group">
            <%= f.label :customer, 'Customer', class: 'form-control-label' %><br />
            <%= f.text_field :customer, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :part_number, 'Part ID', class: 'form-control-label' %><br />
            <%= f.text_field :part_number, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :sub, 'Sub ID', class: 'form-control-label' %><br />
            <%= f.text_field :sub, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-1 border border-right-0 border-left-0 pt-2">
          <div class="form-group">
            <%= f.label :white_spec, 'White Spec', class: 'form-control-label' %><br />
            <%= f.number_field :white_spec, class: 'form-control white-spec-field', disabled: !@salt_spray_test.can_edit_spec? %>
          </div>
          <div class="form-group">
            <%= f.label :process_code, 'Process', class: 'form-control-label' %><br />
            <%= f.text_field :process_code, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :part_area, 'Part Area', class: 'form-control-label' %><br />
            <%= f.number_field :part_area, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control', step: :any %>
          </div>
        </div>
        <div class="col-md-1 border border-left-0 pt-2">
          <div class="form-group">
            <%= f.label :red_spec, 'Red Spec', class: 'form-control-label' %><br />
            <%= f.number_field :red_spec, class: 'form-control white-spec-field', disabled: !@salt_spray_test.can_edit_spec? %>
          </div>
          <div class="form-group">
            <%= f.label :density, 'Density', class: 'form-control-label' %><br />
            <%= f.number_field :density, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control', step: :any %>
          </div>
          <div class="form-group">
            <%= f.label :load_weight, 'Load Weight', class: 'form-control-label' %><br />
            <%= f.number_field :load_weight, disabled: !@salt_spray_test.is_custom_order?, class: 'form-control', step: :any %>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <strong><%= f.label nil, 'Process Steps', class: 'mb-0' %></strong><br />
            <table class="table-responsive table-sm">
              <tbody id="salt_spray_processes">
                <%= f.fields_for :salt_spray_process_steps do |process| %>
                  <%= render 'process_fields', f: process %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-center">
                    <%= link_to_add_association 'Add Process Step', f, :salt_spray_process_steps,
                                                                    :class => 'btn btn-sm btn-success',
                                                                    :'data-association-insertion-node' => '#salt_spray_processes',
                                                                    :'data-association-insertion-method' => 'append',
                                                                    :partial => 'process_fields' %>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <% if @salt_spray_test.flagged_by %>
          <div class="col-4 offset-2">
            <%= f.check_box :remove_flag %>
            <%= f.label :remove_flag, 'Remove Flag?' %>
          </div>
        <% end %>
      </div>
      <br />
      <div class="row">
        <div class="col-12">
          <div class="form-group text-right">
            <%= f.submit 'Edit Salt Spray Test', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', salt_spray_tests_path(session[:params]), class: 'btn btn-link' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
