<!-- Modal -->
<div id="manual_entry_modal" class="modal fade" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-body">
          <div id="manual_entry_content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card bg-light">
  <div class="card-body">
    <%= form_with model: @salt_spray_test, url: salt_spray_tests_path, local: true do |f| %>

      <% if @salt_spray_test.errors.any? %>
        <div class="error_explanation text-danger">
          <p><%= pluralize(@salt_spray_test.errors.count, "error") %> prevented this test from being saved:</p>
          <ul>
            <% @salt_spray_test.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :shop_order_number, required_field_label('Shop Order:'), class: 'form-control-label' %><br />
            <%= f.text_field :shop_order_number, required: 'required', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :load_number, 'Load Number:', class: 'form-control-label' %><br />
            <%= f.text_field :load_number, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.check_box :is_sample %>
            <%= f.label :is_sample, 'Sample Test?', class: 'form-control-label' %>
          </div>
          <%= f.hidden_field :put_on_at, value: Date.current %>
          <%= f.hidden_field :put_on_by, value: current_user.id %>
        </div>
      </div>
      <br />
      <div class="form-group">
        <%= f.submit 'Create Salt Spray Test', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', salt_spray_tests_path(session[:params]), class: 'btn btn-link' %>
      </div>
    <% end %>
  </div>
</div>
