<%= form_with url: salt_spray_tests_path, class: 'filter-form d-block bg-warning hidden-print', method: 'get', local: true do |f| %>
  <div class="row">
    <div class="col-7">
      <div class="form-group">
        <%= f.label :with_shop_order_number, 'Shop Order:'  %>
        <%= f.number_field :with_shop_order_number, class: 'form-control', value: params[:with_shop_order_number] %>
        <%= f.hidden_field :mobile_filter %>
      </div>
    </div>
    <div class="col-5">
      <div class="form-group">
        <%= f.label :with_process_code, 'Process:'  %>
        <%= f.select :with_process_code, SaltSprayTest.options_for_process_code, {include_blank: true, selected: params[:with_process_code]}, { class: 'form-control' } %>
        <%= f.hidden_field :mobile_filter %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Reset Filters', salt_spray_tests_url, class: 'btn btn-sm btn-link float-left' %>
      <%= f.submit 'Filter', name: nil, class: 'float-right' %>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="row m-0">
        <th class="col-6 text-center">Shop Order</th>
        <th class="col-3 text-center">Load</th>
        <th class="col-3 text-center">Proc.</th>
      </tr>
    </thead>
    <tbody>
      <% @salt_spray_tests.each do |t| -%>
        <tr class="row m-0 mobile-row<%= ' bg-warning-table' if t.flagged_by %><%= ' checked-test' if t.checked_by %>">
          <% mobile_sample_code = "-#{t.sample_code}" if t.sample_code.present? %>
          <td class="col-6 text-center shop-order px-0"><%= '<i class="fa fa-flask text-info" title="This is a sample test"></i>'.html_safe if t.is_sample %><%= link_to "#{t.shop_order_number}#{mobile_sample_code}", edit_salt_spray_test_path(t) %></td>
          <td class="col-3 text-center load-number"><%= t.load_number %></td>
          <td class="col-3 text-center process"><%= t.process_code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
