<div class="row">
  <div class="col-12 card bg-light">
    <div class="row">
      <div class="col-8 text-left mobile-details-sm">
        <span><strong>Shop Order: </strong><%= @salt_spray_test.shop_order_number %></span><br />
        <span><strong>Load: </strong><%= @salt_spray_test.load_number.present? ? @salt_spray_test.load_number : 'N/A' %></span><br />
        <span><strong>Proc/Dept: </strong><%= @salt_spray_test.process_code %><%= "/" + @salt_spray_test.dept.to_s if @salt_spray_test.dept %></span>
      </div>
      <div class="col-4 mt-1">
        <%= link_to 'View Details', salt_spray_test_path(@salt_spray_test), class: "text-muted mobile-details-sm", remote: true %>
        <div class="mobile-icons ml-3">
          <i class="fa fa-flask<%= ' d-none' if !@salt_spray_test.is_sample %>"></i>
          <i class="fa fa-flag flag-icon<%= ' d-none' if !@salt_spray_test.flagged_by %>"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_with model: @salt_spray_test do |f| %>
  <div class="row rust-spot-info text-center border-0">
    <div class="col-6">
      <strong><%= f.label :hours_wo_white, "White Hrs (Spec):" %></strong><br />
      <%= @salt_spray_test.calculate_rust_hours(@salt_spray_test.marked_white_at) %>
      (<%= @salt_spray_test.white_spec_exists? ? @salt_spray_test.white_spec : 'N/A' %>)
      <%= @salt_spray_test.get_pass_fail('white') if @salt_spray_test.marked_white_at %>
    </div>
    <div class="col-6">
      <strong><%= f.label :hours_wo_red, "Red Hrs (Spec):" %></strong><br />
      <%= @salt_spray_test.calculate_rust_hours(@salt_spray_test.marked_red_at) %>
      (<%= @salt_spray_test.red_spec_exists? ? @salt_spray_test.red_spec : 'N/A' %>)
      <%= @salt_spray_test.get_pass_fail('red') if @salt_spray_test.marked_red_at %>
    </div>
  </div>
  <div class="container rust-spot-info d-none">
    <div class="row">
      <div class="col-6">
        <%= f.label :hours_wo_white, "Hours w/o white <br /> (spec):".html_safe %><br />
        <div class="white_hours">
          <%= @salt_spray_test.calculate_rust_hours(@salt_spray_test.marked_white_at) %>
          (<%= @salt_spray_test.white_spec_exists? ? @salt_spray_test.white_spec : 'N/A' %>)
          <%= @salt_spray_test.get_pass_fail('white') if @salt_spray_test.marked_white_at %>
        </div>
      </div>
      <div class="col-6">
        <%= f.label :hours_wo_red, "Hours w/o red <br /> (spec):".html_safe %><br />
        <div class="red_hours">
          <%= @salt_spray_test.calculate_rust_hours(@salt_spray_test.marked_red_at) %>
          (<%= @salt_spray_test.red_spec_exists? ? @salt_spray_test.red_spec : 'N/A' %>)
          <%= @salt_spray_test.get_pass_fail('red') if @salt_spray_test.marked_red_at %>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :marked_white_at, 'White Rust:' %></strong><br />
          <%= @salt_spray_test.get_spot_found_value('date', 'white') %>
        </div>
        <div class="form-group">
          <strong><%= f.label :marked_white_by, "Marked By:" %></strong><br />
          <%= @salt_spray_test.get_spot_found_value('reporter', 'white') %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <strong><%= f.label :marked_red_at, 'Red Rust:' %></strong><br />
          <%= @salt_spray_test.get_spot_found_value('date', 'red') %>
        </div>
        <div class="form-group">
          <strong><%= f.label :marked_red_by, "Marked By:" %></strong><br />
          <%= @salt_spray_test.get_spot_found_value('reporter', 'red') %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to "View Comments / Attachments", show_comments_salt_spray_test_path(@salt_spray_test.id), remote: true, class: 'btn btn-sm btn-info' if has_comments(@salt_spray_test) %>
      <div class="btn btn-sm btn-warning flag-test mt-3"><i class='fa fa-flag'></i> <%= flag_test_text %></div>
      <%= f.hidden_field :flagged_by, value: @current_user.id, disabled: !@salt_spray_test.flagged_by, class: 'toggle-flagged-by' %>
      <%= f.hidden_field :flagged_by, value: nil, disabled: @salt_spray_test.flagged_by, class: 'toggle-flagged-by' %>
    </div>
  <div>
  <br />
  <div class="container row">
    <div class="col-12">
      <%= f.fields_for :comments, @salt_spray_test.comments.build do |c| %>
        <div class="row">
          <div class="col-12 col-md-3">
            <%= f.label nil, 'New Comment', class: 'form-control-label' %>
            <div class="form-group">
              <div class="row form-group comment-group">
                <div class="col-11 pr-0">
                  <%= c.text_area :content, rows: 3, class: 'form-control mobile-comment' %>
                  <%= c.hidden_field :created_by, value: @current_user.id %>
                </div>
                <div class="col-1 px-0">
                  <div class="btn btn-sm btn-link clear-comment">Clear</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 offset-md-3">
            <div class="form-group">
              <div class="view-comment-attachments">
                <%= c.label nil, 'New Attachments' %><br />
                <div class="salt_spray_attachments">
                  <%= c.fields_for :attachments do |attachment| %>
                    <%= render 'attachment_fields', f: attachment %>
                  <% end %>
                </div>
                <div>
                  <%= link_to_add_association 'Add Attachment', c, :attachments,
                                              :class => 'btn btn-sm btn-success text-right',
                                              :'data-association-insertion-node' => ".salt_spray_attachments",
                                              :'data-association-insertion-method' => 'append',
                                              :partial => 'new_attachment_fields' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br />
  <div class="row">
    <%= f.hidden_field :checked_by, value: @current_user.id %>
    <% if @salt_spray_test.red_spot_reporter || (@salt_spray_test.white_spot_reporter && !@salt_spray_test.red_spec_exists?) %>
      <div class="text-center col-6">
        <%= f.submit 'Continue Test', class: 'btn btn-default' %>
      </div>
      <div class="text-center col-6">
        <%= f.submit 'Test Complete', class: 'btn btn-danger' %>
      </div>
    <% else %>
      <div class="text-left col-6">
        <%= f.submit 'No Spot Found', class: 'btn btn-default' if !@salt_spray_test.red_spot_reporter %>
      </div>
      <div class="text-right col-6">
        <%= button_tag 'Red Spot Found', type: 'button', data: {toggle: 'modal', target: '#test-complete-modal', spot: 'red'}, class: 'btn btn-danger open-submit-modal' if @salt_spray_test.white_spot_reporter %>
        <% if !@salt_spray_test.red_spec_exists? %>
          <%= button_tag 'White Spot Found', type: 'button', data: {toggle: 'modal', target: '#test-complete-modal', spot: 'white'}, class: 'btn btn-danger open-submit-modal' if !@salt_spray_test.white_spot_reporter %>
        <% else %>
          <%= f.submit 'White Spot Found', class: 'btn btn-danger submit-white' if !@salt_spray_test.white_spot_reporter %>
        <% end %>
      </div>
      <%= f.hidden_field :pulled_off_at, value: nil, class: 'form-submit-date-off' %>
      <%= f.hidden_field :pulled_off_by, value: @current_user.id, class: 'form-submit-off-by', disabled: true %>
      <%= f.submit 'White Spot Found', class: 'btn btn-danger test-complete-white' %>
      <%= f.submit 'Red Spot Found', class: 'btn btn-danger test-complete-red' %>
    <% end %>
    <div class="text-center col-12 cancel-test">
      <%= link_to 'Cancel', '#', onclick: "history.back()", class: 'btn btn-sm btn-link' %>
    </div>
  </div>
<% end %>

<!-- Modal -->
<div id="test-complete-modal" class="modal fade" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div id="test-complete-question">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Is this test complete?</h4><br /><br />
            <div class="row">
              <div class="col-6">
                <%= button_tag 'No', type: 'button', name: 'no', class: 'btn btn-default test-complete-confirm' %>
              </div>
              <div class="col-6">
                <%= button_tag 'Yes', type: 'button', name: 'yes', class: 'btn btn-success test-complete-confirm' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal-window" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Salt Spray Information</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="part_info"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>