<tr class="nested-fields">
  <td>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </td>
  <td>
    <%= f.label :thickness %>
    <%= f.number_field :thickness, {step: 'any', class: 'form-control'} %>
  </td>
  <td>
    <%= f.label :dipping_time %>
    <%= f.number_field :dipping_time, {class: 'form-control'} %>
  </td>
  <td>
    <%= f.label :note %>
    <%= f.text_field :note, class: 'form-control' %>
  </td>
  <td>
    <%= link_to_remove_association '<i class="fa fa-close"></i>'.html_safe, f, class: 'btn btn-sm btn-mobile btn-danger' %>
  </td>
</tr>