<div id="salt_spray_test_results">
  <div class="row table-header">
    <% if action_name != 'archived_tests' %><div class="col-4 col-md-1 text-center d-md-none"></div><% end %>
    <div class="col-3 col-md-1 text-center bold-sm">Shop Order </div>
    <div class="col-md-1 text-center d-none d-md-table-cell">Part ID</div>
    <div class="col-2 col-md-1 text-center bold-sm">Proc.</div>
    <div class="col-md-1 text-center d-none d-md-table-cell">Department</div>
    <div class="col-md-1 d-none d-md-table-cell">Date On</div> <!-- put_on_by, put_on_at, pulled_off_at -->
    <div class="col-md-1 d-none d-md-table-cell">White Rust</div> <!-- marked_white_at, marked_white_by -->
    <div class="col-md-1 d-none d-md-table-cell">Red Rust</div> <!-- marked_red_at, marked_red_by -->
    <div class="col-md-3 d-none d-md-table-cell">Comments</div>
    <div class="col-md-2 text-center hidden-print d-none d-md-table-cell">Options</div>
  </div>
  <% @salt_spray_tests.each do |t| -%>
    <div class="row">
      <div class="col-3 col-md-1 text-center"><%= link_to t.salt_spray_part.shop_order_number, salt_spray_test_path(t.salt_spray_part), remote: true %><br /> <small>Load: <%= t.salt_spray_part.load_number %></small></div>
      <div class="col-md-1 text-center d-none d-md-table-cell"><%= t.salt_spray_part.part_number %></div>
      <div class="col-2 col-md-1 text-center process"><%= t.salt_spray_part.process %></div>
      <div class="col-md-1 text-center d-none d-md-table-cell"><%= t.salt_spray_part.dept %></div>
      <div class="col-md-1 d-none d-md-table-cell">
        <%= t.put_on_at.strftime('%m/%d/%Y') %><br />
        <% unless t.pulled_off_at.blank? %><small><strong>Date off: </strong></small><br /><%= t.pulled_off_at.strftime('%m/%d/%Y') %><br /><% end %>
        <small><strong>By: </strong></small><%= t.salt_spray_tester.full_name %><br />
        <small><strong>Hours On: </strong></small><%= t.calculate_rust_hours(false) %><br /><br />
      </div>
      <div class="col-md-1 d-none d-md-table-cell">
        <% unless t.marked_white_at.blank? %><small><strong>Date marked: </strong></small><br /><%= t.marked_white_at.strftime('%m/%d/%Y') %><% end %>
        <% unless t.white_spot_reporter.blank? %><br /><small><strong>Reporter: </strong></small><br /><%= t.white_spot_reporter.full_name %><br /><% end %>
        <% unless t.marked_white_at.blank? %><small><strong>Hours w/o White: </strong></small><br /><%= t.calculate_rust_hours(t.marked_white_at) %><br /><br /><% end %>
      </div>
      <div class="col-md-1 d-none d-md-table-cell">
        <% unless t.marked_red_at.blank? %><small><strong>Date marked: </strong></small><br /><%= t.marked_red_at.strftime('%m/%d/%Y') %><% end %>
        <% unless t.red_spot_reporter.blank? %><br /><small><strong>Reporter: </strong></small><br /><%= t.red_spot_reporter.full_name %><br /><% end %>
        <% unless t.marked_red_at.blank? %><small><strong>Hours w/o Red: </strong></small><br /><%= t.calculate_rust_hours(t.marked_red_at) %><br /><br /><% end %>
      </div>
      <div class="col-md-3 d-none d-md-table-cell">
        <%= t.comments %>
      </div>
      <div class="col-md-2 text-center hidden-print d-none d-md-table-cell">
        <% if @access_level.access_level == 3 and action_name != 'archived_tests' -%>
          <%= link_to 'Edit', edit_salt_spray_test_path(t), class: "btn btn-sm btn-default mr-2" %>
          <%= link_to 'Delete', salt_spray_test_path(t), data: { confirm: 'Are you sure?'}, method: 'delete', class: 'btn btn-sm btn-danger' %><br />
          <% if !t.marked_white_at %>
            <%= form_with model: t, local: true do |f| %>
              <%= f.hidden_field :marked_white_at, value: Date.current %>
              <%= f.hidden_field :marked_white_by, value: current_user.id %>
              <%= f.submit 'Mark White', class: 'btn btn-sm btn-warning' %>
            <% end %>
          <% end %>
          <% if !t.marked_red_at %>
            <%= form_with model: t, local: true do |f| %>
              <%= f.hidden_field :marked_red_at, value: Date.current %>
              <%= f.hidden_field :marked_red_by, value: current_user.id %>
              <%= f.submit 'Mark Red', class: 'btn btn-sm btn-warning' %>
            <% end %>
          <% end %>
          <% if t.marked_red_at && t.marked_white_at %>
            <%= form_with model: t, local: true do |f| %>
              <%= f.hidden_field :pulled_off_at, value: Date.current %>
              <%= f.submit 'Mark Complete', class: 'btn btn-sm btn-info' %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "View Attachments (#{t.attachments.size})", salt_spray_test_path(t.id, has_attachment: true), remote: true, class: 'btn btn-sm btn-link' if t.attachments.size > 0 %>
      </div>
    </div>
  <% end %>
</div>
