<%= form_with url: filter_path, class: 'filter-form bg-warning hidden-print', method: 'get', local: true do |f| %>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_shop_order_number, 'Shop Order:'  %>
        <%= f.text_field :with_shop_order_number, class: 'form-control', value: params[:with_shop_order_number] %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_customer, 'Customer:'  %>
        <%= f.select :with_customer, @salt_spray_tests.options_for_customer, { include_blank: true, selected: params[:with_customer] }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= f.label :with_process_code, 'Process:'  %>
        <%= f.select :with_process_code, @salt_spray_tests.options_for_process_code, {include_blank: true, selected: params[:with_process_code]}, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_part_number, 'Part ID:'  %>
          <%= f.select :with_part_number, @salt_spray_tests.options_for_part_number, { include_blank: true, selected: params[:with_part_number] }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= f.label :with_sub, 'Sub ID:'  %>
        <%= f.text_field :with_sub, class: 'form-control', value: params[:with_sub] %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :with_comments, 'Comments:'  %>
        <%= f.text_field :with_comments, class: 'form-control', value: params[:with_comments] %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group text-center">
        <%= f.label :with_flag, 'Is Flagged:'  %>
        <%= f.check_box :with_flag, class: 'form-control', checked: params[:with_flag] == '1' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group text-center">
        <%= f.label :with_sample, 'Is Sample:'  %>
        <%= f.check_box :with_sample, class: 'form-control', checked: params[:with_sample] == '1' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group text-center">
        <%= f.label :with_has_comments, 'Has Comments:'  %>
        <%= f.check_box :with_has_comments, class: 'form-control', checked: params[:with_has_comments] == '1' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group text-center">
        <%= f.label :with_has_attachments, 'Has Attachments:'  %>
        <%= f.check_box :with_has_attachments, class: 'form-control', checked: params[:with_has_attachments] == '1' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_put_on_by, 'Put On By:'  %>
        <%= f.select :with_put_on_by, @salt_spray_tests.options_for_put_on_by, { include_blank: true, selected: params[:with_put_on_by] }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_put_on_at_gte, 'Date On - Start:' %>
        <%= f.date_field :with_put_on_at_gte, class: 'form-control', value: params[:with_put_on_at_gte] %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :with_put_on_at_lte, 'Date On - End:' %>
        <%= f.date_field :with_put_on_at_lte, class: 'form-control', value: params[:with_put_on_at_lte] %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :sorted_by, 'Sorted By:' %>
        <%= f.select :sorted_by, sorted_by_options, { selected: params[:sorted_by] }, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'Reset Filters', filter_path, class: 'btn btn-sm btn-link float-left' %>
      <%= f.submit 'Filter', name: nil, class: 'float-right' %>
    </div>
  </div>
<% end %>

<% if @salt_spray_tests.size == 0 -%>

  <p class="text-muted">No salt spray tests found.</p>

<% else -%>

  <table class="table table-bordered">
    <thead>
      <tr class="row m-0">
        <th class="col-2">
          <div class="row">
            <div class="col-6 text-left">
              Shop Order
            </div>
            <div class="col-6 text-muted text-right">
              (Load)
            </div>
          </div>
        </th>
        <th class="col-2">
          <div class="row">
            <div class="col-6 text-left">
              Process / Dept
            </div>
            <div class="col-6 text-muted text-right">
              (Steps)
            </div>
          </div>
        </th>
        <th class="col-2">Date On</th>
        <% if action_name == 'archived_tests' %>
          <th class="col-1">Date Off</th>
        <% end %>
        <th class="col-2">
          <div class="row">
            <div class="col-6 text-left">
              White Rust
            </div>
            <div class="col-6 text-muted text-right">
              (Spec)
            </div>
          </div>
        </th> <!-- marked_white_at, marked_white_by -->
        <th class="col-2">
          <div class="row">
            <div class="col-6 text-left">
              Red Rust
            </div>
            <div class="col-6 text-muted text-right">
              (Spec)
            </div>
          </div>
        </th> <!-- marked_red_at, marked_red_by -->
        <th class="col-1 ipad-padding">Comments</th>
        <th class="col-1 text-center hidden-print<%= ' d-none' if action_name == 'archived_tests' %>"></th>
      </tr>
    </thead>
    <tbody>
      <% @salt_spray_tests.each do |t| -%>
        <tr class="row m-0<%= ' bg-warning-table' if t.flagged_by && action_name != 'archived_tests' %>">
          <td class="col-2 text-center shop-order">
            <div class="row">
              <div class="col-9 text-left">
                <strong>
                  <%= '<i class="fa fa-flag text-info" title="This test is flagged"></i> '.html_safe if t.flagged_by %>
                  <%= '<i class="fa fa-flask text-info" title="This is a sample test"></i> '.html_safe if t.is_sample %>
                  <%= t.shop_order_number %><%= " - #{t.sample_code}" if t.sample_code.present? %><br />
                  <small class="text-muted"><%= t.customer %> <%= "&bull; #{t.part_number}".html_safe if t.part_number.present? %> <%= "&bull; #{t.sub}".html_safe if t.sub.present? %></small>
                </strong>
              </div>
              <div class="col-3 text-right text-muted">
                <%= "(#{t.load_number})" if t.load_number %>
              </div>
            </div>
          </td>
          <td class="col-2 text-center process">
            <div class="row">
              <div class="col-6 text-left">
                <%= t.process_code %><% if t.dept %> / <%= t.dept %><br /><% end %>
              </div>
              <div class="col-6 text-right text-muted">
                <% t.salt_spray_process_steps.each do |step| %>
                  <%= step.chromate %><br />
                <% end %>
              </div>
            </div>
          </td>
          <td class="col-2">
            <%= t.put_on_at.strftime('%m/%d/%Y') %><br />
            <small><strong>By: </strong></small><%= t.salt_spray_tester.full_name %><br />
            <small><strong>Hours On: </strong></small><%= t.calculate_rust_hours(t.pulled_off_at) %>
          </td>
          <% if t.pulled_off_at.present? %>
            <td class="col-1">
              <%= t.pulled_off_at.strftime('%m/%d/%Y') %><br />
              <small><strong>By: </strong></small><%= t.test_completed_by.full_name %>
            </td>
          <% end %>
          <td class="col-2">
            <div class="row">
              <div class="col-9 text-left">
                <% if t.marked_white? %>
                  <%= t.marked_white_at.strftime('%m/%d/%Y') %><br />
                  <small><strong>By: </strong></small><%= t.white_spot_reporter.full_name %><br />
                  <small><strong>Hours w/o: </strong></small><%= t.calculate_rust_hours(t.marked_white_at) %> <%= t.get_pass_fail('white') %>
                <% end %>
              </div>
              <div class="col-3 text-muted text-right pl-0">
                <% if t.white_spec_exists? %>
                  <%= "(#{t.white_spec})"  %>
                  <%= t.get_pass_fail('white', true) if !t.marked_white_at %>
                <% end %>
              </div>
            </div>
          </td>
          <td class="col-2">
            <div class="row">
              <div class="col-7 text-left">
                <% if t.marked_red? %>
                  <%= t.marked_red_at.strftime('%m/%d/%Y') %><br />
                  <small><strong>By: </strong></small><%= t.red_spot_reporter.full_name %><br />
                  <small><strong>Hours w/o: </strong></small><%= t.calculate_rust_hours(t.marked_red_at) %> <%= t.get_pass_fail('red') %>
                <% end %>
              </div>
              <div class="col-5 text-muted text-right pl-0">
                <% if t.red_spec_exists? %>
                  <%= "(#{t.red_spec})" %>
                  <%= t.get_pass_fail('red', true) if !t.marked_red_at %>
                <% end %>
              </div>
            </div>
          </td>
          <td class="col-1">
            <%= link_to "View", show_comments_salt_spray_test_path(t.id, on_archived: action_name == 'archived_tests'), remote: true, class: 'btn btn-sm btn-info mr-2' if has_comments(t) %>
            <%= link_to 'Add', add_comment_salt_spray_test_path(t, on_archived: action_name == 'archived_tests'), class: 'btn btn-sm btn-success' %>
          </td>
          <% if action_name != 'archived_tests' %>
            <% if @access_level.access_level == 3 -%>
              <td class="col-md-1 text-center hidden-print ipad-padding">
                <a href="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                <div class="dropdown-menu text-center">
                  <%= link_to 'Edit', edit_salt_spray_test_path(t), class: "dropdown-item text-info" if action_name != 'archived_tests' %>
                  <% if t.flagged_by %>
                    <%= form_with model: t, local: true do |f| %>
                      <%= f.hidden_field :flagged_by, value: nil %>
                      <%= f.submit 'Remove Flag', class: 'btn-form dropdown-item text-warning' %>
                    <% end %>
                  <% end %>
                  <%#= link_to 'View Details', salt_spray_test_path(t), class: "dropdown-item text-muted", remote: true %>
                  <div class="dropdown-divider"></div>
                  <% if !t.marked_white_at && !t.marked_red_at %>
                    <%= form_with model: t, local: true do |f| %>
                      <%= f.hidden_field :marked_white_at, value: DateTime.current.change(sec: 0) %>
                      <%= f.hidden_field :marked_white_by, value: current_user.id %>
                      <% if !t.red_spec_exists? %>
                        <%= button_tag 'Mark White', type: 'button', data: {toggle: 'modal', target: '#test-complete-modal', spot: 'white'}, class: 'btn-form dropdown-item open-submit-modal' %>
                        <%= f.submit 'Mark White', class: 'btn-form dropdown-item test-complete-white d-none' %>
                      <% else %>
                        <%= f.submit 'Mark White', class: 'btn-form dropdown-item' %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if !t.marked_red_at %>
                    <%= form_with model: t, local: true do |f| %>
                      <%= f.hidden_field :marked_red_at, value: DateTime.current.change(sec: 0) %>
                      <%= f.hidden_field :marked_red_by, value: current_user.id %>
                      <%= button_tag 'Mark Red', type: 'button', data: {toggle: 'modal', target: '#test-complete-modal', spot: 'red'}, class: 'btn-form dropdown-item open-submit-modal' %>
                      <%= f.submit 'Mark Red', class: 'btn-form dropdown-item test-complete-red d-none' %>
                    <% end %>
                  <% end %>
                  <%= form_with model: t, local: true do |f| %>
                    <%= f.hidden_field :pulled_off_at, value: DateTime.current.change(sec: 0) %>
                    <%= f.hidden_field :pulled_off_by, value: current_user.id %>
                    <%= f.submit 'Mark Complete', class: 'btn-form dropdown-item', data: {confirm: t.ready_to_archive? ? nil : 'Are you sure?'} %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Delete', salt_spray_test_path(t), data: { confirm: 'Are you sure?'}, method: 'delete', class: 'text-danger dropdown-item' %>
                </div><br>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<!-- Modal -->
<div id="test-complete-modal" class="modal fade" role="dialog">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div id="test-complete-question">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Is this test complete?</h4><br /><br />
            <div class="row">
              <div class="col-6">
                <%= button_tag 'No', type: 'button', name: 'no', class: 'btn btn-default test-complete-confirm' %>
              </div>
              <div class="col-6">
                <%= button_tag 'Yes', type: 'button', name: 'yes', class: 'btn btn-success test-complete-confirm' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
