<div id="salt_spray_test_results">

  <table class="table table-responsive table-bordered" id="salt-spray-table">
    <thead>
      <tr>
        <% if action_name != 'archived_tests' %><th class="col-1 text-center"></th><% end %>
        <th class="text-center">Shop Order</th>
        <th class="text-center">Load</th>
        <th class="text-center">Sub</th>
        <th class="text-center d-none d-md-table-cell">Part ID</th>
        <th class="text-center">Process</th>
        <th class="text-center d-none d-md-table-cell">Department</th>
        <th class="text-center d-none d-md-table-cell">Report Info</th> <!-- put_on_by , date_on , date_off -->
        <th class="d-none d-md-table-cell">White Spots</th> <!-- date_w_white , who_called_white -->
        <th class="d-none d-md-table-cell">Red Spots</th> <!-- date_w_red , who_called_red -->
        <th class="text-center d-none d-md-table-cell">Load Info</th> <!-- barrel_number, load_weight -->
        <th class="d-none d-md-table-cell">Comments</th>
        <% if @access_level.access_level == 3 and action_name != 'archived_tests' -%>
          <th class="text-center hidden-print d-none d-md-table-cell">Options</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @salt_spray_tests.each do |t| -%>
        <tr>
          <% if !t.checked and !t.date_on %><td class="text-center d-md-none"><%= link_to 'Start Test', salt_spray_test_path(t, salt_spray_test: {date_on: DateTime.current, put_on_by: current_user.id, checked: true}), :method => :patch, class: 'btn btn-success btn-sm btn-mobile' %></td><% end %>
          <% if !t.checked and t.date_on %><td class="text-center d-md-none"><%= link_to 'Update', edit_salt_spray_test_path(t), class: 'btn btn-primary btn-sm' %></td><% end %>
          <% if action_name != 'archived_tests' %><td class="text-center<%= ' d-none d-md-table-cell' if !t.checked %>"><%= check_box_tag 'checked', t.id, t.checked, class: 'test-checkbox' %></td><% end %>
          <td class="text-center"><%= link_to t.salt_spray_part.shop_order_number, salt_spray_test_path(t.salt_spray_part_id), remote: true %></td>
          <td class="text-center"><%= t.salt_spray_part.load_number %></td>
          <td class="text-center"><%= t.salt_spray_part.sub %></td>
          <td class="text-center d-none d-md-table-cell"><%= t.salt_spray_part.part_number %></td>
          <td class="text-center process"><%= t.salt_spray_part.process %></td>
          <td class="text-center d-none d-md-table-cell"><%= t.dept %></td>
          <td class="d-none d-md-table-cell">
            <% unless t.date_on.blank? %><small><strong>Date on: </strong></small><br /><%= t.date_on.strftime('%m/%d/%Y') %><br /><% end %>
            <% unless t.date_off.blank? %><small><strong>Date off: </strong></small><br /><%= t.date_off.strftime('%m/%d/%Y') %><br /><% end %>
            <% unless t.put_on_by.blank? %><small><strong>Put on by: </strong></small><br /><%= t.salt_spray_tester.full_name %><br /><br /><% end %>
          </td>
          <td class="<%= 'td-centered' if t.date_w_white.blank? %> d-none d-md-table-cell">
            <% unless t.date_w_white.blank? %><small><strong>Date of first spot: </strong></small><br /><%= t.date_w_white.strftime('%m/%d/%Y') %><% end %>
            <% unless t.white_spot_reporter.blank? %><br /><small><strong>Reporter: </strong></small><br /><%= t.white_spot_reporter.full_name %><% end %>
          </td>
          <td class="<%= 'td-centered' if t.date_w_red.blank? %> d-none d-md-table-cell">
            <% unless t.date_w_red.blank? %><small><strong>Date of first spot: </strong></small><br /><%= t.date_w_red.strftime('%m/%d/%Y') %><% end %>
            <% unless t.red_spot_reporter.blank? %><br /><small><strong>Reporter: </strong></small><br /><%= t.red_spot_reporter.full_name %><% end %>
          </td>
          <td class="d-none d-md-table-cell">
            <small><strong>Load Weight: </strong></small><%= number_with_precision(t.load_weight, strip_insignificant_zeros: true) %><br />
            <small><strong>Barrel Number: </strong></small><%= t.barrel_number %>
          </td>
          <td class="d-none d-md-table-cell"><%= t.comments %></td>
          <% if @access_level.access_level == 3 and action_name != 'archived_tests'-%>
            <td class="text-center hidden-print td-centered d-none d-md-table-cell">
              <%= link_to 'Edit Test', edit_salt_spray_test_path(t), class: "btn btn-sm btn-primary#{' disabled' if t.date_on.blank?}" %><br />
              <%= link_to 'Delete Test', salt_spray_test_path(t), data: { confirm: 'Are you sure?'}, method: 'delete', class: 'btn btn-sm btn-danger' %>
            </td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
