<%= content_for :javascript do %>
  <script type="text/javascript">
    if($(document).width() <= 768){
      $('.salt_spray_test_results').html('');
      $('.salt_spray_test_results').append('<%=j render "mobile_table" %>');
    } else {
      $('.salt_spray_test_results').html('');
      $('.salt_spray_test_results').append('<%=j render "table" %>');
    }
  </script>
<% end %>

<% provide(:title, 'Salt Spray Tests') %>
<div class="row mx-1">

  <div class="col-12 card bg-light mb-3">

    <div class="row">
      <strong class="col-6">Salt Spray Tests</strong>

      <% if @access_level.access_level == 3 -%>
        <strong class="col-6 text-danger text-uppercase text-right">
          Admin Mode
        </strong>
      <% end %>

    </div>

  </div>
  <div class="col-12">
    <div class="row d-none d-md-flex">
      <div class="col-6">
        <%= link_to 'Add Test', new_salt_spray_test_path, :class => "btn btn-success btn-sm" %>
      </div>
      <div class="col-6 text-right">
        <%= filter_btn %>
        <%= link_to 'View Archived Tests', archived_tests_salt_spray_tests_path, :class => "btn btn-sm btn-primary" %>
      </div>
    </div>

    <div class="salt_spray_test_results"></div>

    <!-- Modal -->
    <div id="modal-window" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="part-info-title" class="modal-title">Salt Spray Information</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div id="part_info"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
