<% provide(:title, 'User Management') %>
<div class="row">
  
  <div class="col-xs-12">
    
    <div class="well well-sm">
      <strong class="pull-left">User Management</strong>
      <strong class="text-danger text-uppercase pull-right">Admin Mode</strong>      
      <div class="clearfix"><!----></div>    
    </div>
    
  </div>
  
  <div class="col-xs-12">
    
    <p class="text-muted">
      <em>Users are created/managed on the System i. You cannot add or delete users here, nor can you change user's passwords. Those functions must be done on the System i.</em>
    </p>
    
    <p><%= page_entries_info @users %></p>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-xs-1 text-center">Employee #</th>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-1 text-center">Initials</th>
            <th class="col-xs-2">Email</th>
            <th class="col-xs-1 text-center">Pin</th>
            <th class="col-xs-1 text-center hidden-print">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| -%>
            <tr<%= ' class="text-muted"'.html_safe unless u.is_active %>>
              <td class="text-center"><%= u.employee_number %></td>
              <td><%= u.full_name %><%= ' <small class="pull-right"><strong class="text-uppercase text-danger">Inactive</strong></small>'.html_safe unless u.is_active %></td>
              <td class="text-center"><%= avatar_for u %></td>
              <td><%= u.email %></td>
              <td class="text-center"><%= u.pin %></td>
              <td class="text-center hidden-print">
                <%= link_to 'Edit', edit_user_path(u), class: 'btn btn-xs btn-default'  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="hidden-print">
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
    
  </div>
  
</div>