<nav class="navbar fixed-top navbar-light bg-light navbar-expand-md justify-content-left py-0">

  <%= link_to root_url, class: 'navbar-brand' do -%>
    <%= image_tag('logo.png', class: 'img-fluid', alt: 'VCMS', srcset: "#{image_url('logo.png')} 1x, #{image_url('logo@2x.png')} 2x, #{image_url('logo@3x.png')} 3x") %>
  <% end %>
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#vcms-primary-nav" aria-expanded="false"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="vcms-primary-nav">
    <ul class="navbar-nav mx-auto w-100 justify-content-start">
    <%# if false %>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="app-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps</a>
        <ul class="dropdown-menu" aria-labelledby="app-dropdown">
          <%#= primary_nav_link 'employee_notes', 'index', 'Employee Notes' %>
          <%#= primary_nav_link 'shift_notes', 'index', 'Shift Notes' %>
          <%#= primary_nav_link 'opto_messages', 'index', 'Opto Logs' %>
          <%#= primary_nav_link 'documents', 'index', 'Documents' %>
          <%= primary_nav_link 'salt_spray_tests', 'index', 'Salt Spray Tests' %>
          <%#= primary_nav_link 'timeclock_records', 'index', 'Timeclock Records' %>

        <!--
          <%#= primary_nav_link 'thickness', 'index', 'Thickness' %>
        -->
        </ul>
      </li>
      <li class="nav-item">
        <%#= link_to '<i class="fa fa-clock-o"></i> Right Now'.html_safe, clocked_in_timeclock_records_path, class: 'nav-link' %>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="timeclock-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeclock</a>
        <ul class="dropdown_menu" aria-labelledby="timeclock-dropdown">
          <%#= primary_nav_link 'timeclock_records', 'index', 'Records' %>
        </ul>
      </li>
      -->
    <%# end %>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <% if current_user.nil? %>
        <li><%#= link_to "Sign in with Google", "/auth/google_oauth2", class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Login', login_url, class: 'nav-link' %></li>
      <% else %>
        <% if current_user.is_sysadmin -%>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Manage Users', users_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Manage Permissions', permissions_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Edit Timeclock Records', manage_records_timeclock_records_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Edit Reason Codes', reason_codes_path, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

</nav>