<% provide(:title, 'Employee Notes') %>
<div class="row mx-1">

  <div class="col-12 card bg-light mb-3">

    <div class="row">

      <strong class="col-6">Employee Notes</strong>

      <% if @access_level.access_level == 3 -%>
        <strong class="col-6 text-danger text-uppercase text-right">
          Admin Mode
        </strong>
      <% end %>

    </div>

  </div>

  <div class="col-12">

    <p class="hidden-print">
      <%= link_to 'Add Employee Note', new_employee_note_path, class: 'btn btn-success btn-sm' %>
    </p>

    <% if @employee_notes.size == 0 -%>

      <p class="text-muted">No employee notes found.</p>

    <% else -%>

      <%#= TODO: Add filtering to this form %>
      <%= form_with url: employee_notes_path, class: 'filter-form hidden-print' , method: 'get' do |f| %>
        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <%= f.label :search_query, 'Search:' %>
              <%= f.text_field :search_query, class: 'form-control filterrific-periodically-observed' %>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-md-2">
            <div class="form-group">
              <%= f.label :with_employee, 'Employee:' %>
              <%#= f.select :with_employee, @filterrific.select_options[:with_employee], { include_blank: true }, { class: 'form-control' } %>
              <%= f.collection_select :employee, User.all, :id, :full_name, prompt: true %>
            </div>
          </div>

          <% if @access_level.access_level == 3 -%>
            <div class="col-12 col-sm-4 col-md-2">
              <div class="form-group">
                <%#= f.label :with_entered_by, 'Entered By:' %>
                <%#= f.select :with_entered_by, @filterrific.select_options[:with_entered_by], { include_blank: true }, { class: 'form-control' } %>
              </div>
            </div>
          <% end %>

          <div class="col-12 col-sm-4 col-md-2">
            <div class="form-group">
              <%#= f.label :with_note_type, 'Type:' %>
              <%#= f.select :with_note_type, @filterrific.select_options[:with_note_type], { include_blank: true }, { class: 'form-control' } %>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-md-2">
            <div class="form-group">
              <%#= f.label :with_date_gte, 'Starting Date:' %>
              <%#= f.date_field :with_date_gte, class: 'form-control'  %>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-md-2">
            <div class="form-group">
              <%#= f.label :with_date_lte, 'Ending Date:' %>
              <%#= f.date_field :with_date_lte, class: 'form-control'  %>
            </div>
          </div>

          <div class="col-12 col-sm-4 col-md-2">
            <div class="form-group">
              <%#= f.label :sorted_by, 'Sorted By:' %>
              <%#= f.select :sorted_by, @filterrific.select_options[:sorted_by], { }, { class: 'form-control' } %>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-12">

            <%# TODO: Add reset filter button %>

            <%#= render_filterrific_spinner %>

            <%#= link_to 'Reset Filters', reset_filterrific_url, class: 'btn btn-sm btn-warning float-right' %>
            <div class="clearfix"><!----></div>

          </div>

        </div>

      <% end %>

      <div id="results"><%= render partial: 'employee_notes/list', locals: { employee_notes: @employee_notes } %></div>

    <% end %>

  </div>

</div>
