<% provide(:title, 'Permission Management') %>
<div class="row mx-1">
  <div class="col-12 card bg-light">
    <div class="row">
      <strong class="col-6">Permission Management</strong>
      <strong class="col-6 text-danger text-uppercase text-right">
        Admin Mode
      </strong>
    </div>
  </div>
</div>
<div class="row mx-1">
  <div class="col-12">

    <p><%= page_entries_info @permissions %></p>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="row m-0">
            <th class="d-inline-block col-3">ID</th>
            <th class="d-inline-block col-7">Description</th>
            <th class="d-inline-block col-1 text-center">User Count</th>
            <th class="d-inline-block col-1 text-center hidden-print">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @permissions.each do |p| -%>
            <tr class="row m-0">
              <td class="d-inline-block col-3"><%= p.permission %></td>
              <td class="d-inline-block col-7"><%= p.description %></td>
              <td class="d-inline-block col-1 text-center"><%= p.assigned_permissions.size %></td>
              <td class="d-inline-block col-1 text-center hidden-print">
                <%= link_to 'Edit', edit_permission_path(p), class: 'btn btn-sm btn-default'  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="hidden-print">
      <%= will_paginate @permissions, renderer: BootstrapPagination::Rails %>
    </div>

  </div>

</div>