<div class="row" style="height: 800px;">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="card">
      <div class="card-header">Apps</div>
      <div class="list-group list-group-flush">
        <%= link_to 'Employee Notes', employee_notes_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Shift Notes', shift_notes_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Opto Logs', opto_messages_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Documents', documents_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Thickness Checks', login_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Salt Spray Tests', login_url, class: 'list-group-item dropdown-item' %>
      </div>
    </div>
  </div>

</div>