<div class="row" style="height: 800px;">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="card">
      <div class="card-header">Apps</div>
      <div class="list-group list-group-flush">
        <%= link_to 'Employee Notes', login_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Shift Notes', login_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Opto Logs', login_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Documents', documents_url, class: 'list-group-item dropdown-item' %>
        <%= link_to 'Thickness Checks', login_url, class: 'list-group-item dropdown-item' %>
      <!--
        <%#= link_to 'Employee Notes', reset_filterrific_url(controller: 'employee_notes', action: 'index'), class: 'list-group-item' %>
        <%#= link_to 'Shift Notes', reset_filterrific_url(controller: 'shift_notes', action: 'index'), class: 'list-group-item' %>
        <%#= link_to 'Opto Logs', reset_filterrific_url(controller: 'opto_messages', action: 'index'), class: 'list-group-item' %>
        <%#= link_to 'Documents', reset_filterrific_url(controller: 'documents', action: 'index'), class: 'list-group-item' %>
        <%#= link_to 'Thickness Checks', reset_filterrific_url(controller: 'thickness', action: 'index'), class: 'list-group-item' %>
      -->
      </div>
    </div>
  </div>

</div>